{% extends "Admin Layout.html" %}
{% block body %}
    <style>
.form-header h2{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 50px;
}

.form-header label
{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}
 .form-input1{
        background: #fafafa; border: 1px solid #eeeeee; padding: 8px; width: 100%;  margin-bottom:15px;
    }
 .{
        background: #fafafa; border: 1px solid #eeeeee; padding: 8px; width: 100%;  margin-bottom:15px; height:120px;
    }
.wrap{
        width: 700px; margin: 0 auto; border: 3px solid grey; padding: 2rem; background: aliceblue;
    }
.but{
        background: linen; border: 2px solid  ; color: black; padding: 10px;  text-transform: uppercase; cursor: pointer; alignment: center;width: 100%;
    }
.wrap p{
    margin-top: 5px;
    color: black;
    text-align: center;
}
</style>
<div class="form-header">
    <h2>Send Emails to Teachers</h2>

    <form action = "{{ request.path }}" class="wrap"  method = "post">

             <label for = "Heading">Subject</label><br>
             <input type = "text" class="form-input1" name = "id" required /><br>
             <label for = "email">Message</label><br>
             <textarea class="form-input1" name="name" rows="10" cols="100" required></textarea><br>

                <input type = "submit" class="but" value = "Send" />
            <p><strong>{{ add }}</strong></p>
      </form>

            </div>



{% endblock %}