{% extends "Admin Layout.html" %}
{% block body %}
    <style>
.form-header h2{
    margin-top: 15px;
    text-align: center;
}
.form-header h3{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.form-header label
{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}
 .form-input{
        background: #fafafa; border: 1px solid #eeeeee; padding: 8px; width: 80%;  margin-bottom:15px;
    }
.wrap{
        width: 700px; margin: 0 auto; border: 3px solid grey; padding: 2rem; background: aliceblue;
    }
.but{
        background: linen; border: 2px solid  ; color: black; padding: 10px;  text-transform: uppercase; cursor: pointer; alignment: center;width: 100%;
    }
.wrap p{
    margin-top: 5px;
    color: black;
    text-align: center;
}
</style>
<div class="form-header">
    <h2>Adding New Admins</h2>

    <form action = "{{ request.path }}" class="wrap"  method = "post">

                 <label>Enter Complete User ID </label><br>
                <input type = "text" class="form-input" name = "id" placeholder = "UserID" /><br>
                <label >Full Name</label><br>
                <input type = "text" class="form-input" name = "name" placeholder = "Full Name" /><br>
        <label >Phone Number</label><br>
                <input type = "text" class="form-input" name = "phone" placeholder = "Phone Number" /><br>
                <label >Password</label><br>
                <input type = "text"  class="form-input" name = "pws" placeholder = "Password" /><br>

            <input type = "submit" class="but" value = "Submit" />
            <p><strong>{{ add }}</strong></p>
            </div>
      </form>
</div>
{% endblock %}