{% extends "Student Layout.html" %}
{% block body %}
<style>
    .wrapper .Profile  table
    {
        text-align: center; color: black; margin-top: 10px;  font-family: "Simplified Arabic Fixed";
    }
    .wrapper .Profile  table li
    {
        text-align: center; color: black; margin-top: 10px; margin-left: 20px; margin-right: 20px;

    }

    .center
    {
        margin-left: auto;
        margin-right: auto;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<center><h2>Student Result</h2></center>
<table class="center " border="1" cellpadding="2" cellspacing="2">
     <tr>
           <center><td><li><strong>Class:</strong></li></td></center>
            <td> <li>{{ a }}</li></td>
     </tr>
     <tr>
           <td> <li><strong>Registration Number:</strong></li></td>
            <td> <li>{{ b }}</li></td>
     </tr>
    <tr>
           <td> <li><strong>Name:</strong></li></td>
            <td> <li>{{ c }}</li></td>
     </tr>
    <tr>
           <td> <li><strong>Subject 1:</strong></li></td>
            <td> <li>{{ d }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ e }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 2:</strong></li></td>
            <td> <li>{{ f }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ g }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 4:</strong></li></td>
            <td> <li>{{ h }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ i }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 5:</strong></li></td>
            <td> <li>{{ j}}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ k }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 6:</strong></li></td>
            <td> <li>{{ l }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ m }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 7:</strong></li></td>
            <td> <li>{{ n }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ o }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 8:</strong></li></td>
            <td> <li>{{ p }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ q }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 9:</strong></li></td>
            <td> <li>{{ r }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ s }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Subject 10:</strong></li></td>
            <td> <li>{{ t }}</li></td>
     </tr>
<tr>
           <td> <li><strong>Grades:</strong></li></td>
            <td> <li>{{ u }}</li></td>
     </tr>

</table>







{% endblock %}