{% extends "Teacher Layout.html" %}
{% block body %}
<style>
.header h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header table{
    margin-left: 200px;
    margin-right: 200px;
}
.center
    {
        margin-left: auto;
        margin-right: auto;
    }


</style>
   <div class="header">
    <h2>Notifications for Teachers</h2>
    <table class="center" cellpadding="10" cellspacing="30">

<tr>

    <td><strong>Posted On</strong></td>

    <td><strong>Title</strong></td>
    <td><strong>Message</strong></td>

    </tr>
<tr>{% for row in record %}</tr>

    <tr>
{% for d in row %}
<td>{{d}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
    </div>
{% endblock %}